.filter-top {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 260px;
  margin-bottom: 200px;
  margin-left: -1195px;
  width: 1190px;
  height: 120px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 7px;
  position: relative;
}

.filter-item {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: px;
}

.hello {
  margin-left: 100px;
  margin-top: 0px;
}

.search-button-container {
  margin-left: 58.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 7px;
}

.advanced_search {
  margin-top: 2.3rem;
}

.advanced_searchbutton {
  padding: 5px 18px;
  font-size: 15px;
}

.allpurpose_button {
  margin-top: -899px;
  background-color: #FF7100;
  color: white;
  padding: 7px 15px 7px 10px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
}

label {
  font-size: 1rem;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}

select,
input[type='number'] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='number'] {
  width: 80px;
}

.iframe__top {
  margin-left: 160px;
  height: 190px;
  width: 1220px;
}

.iframe__top:hover {
  cursor: pointer;
}


.sort-item {
  margin-left: 70.3em;
  margin-top: -30px;
}

.sort-item p {
  margin-left: -3.5em;
  position: absolute;
  padding-top: 4px;
}

.dropdown-list li {
  cursor: pointer;
}

 .dropdown:click {
  display: block;
}
 
.bullet-button {
  background-color: grey;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.selected-option {
  margin-left: 5px;
  padding: 5px;
  border: 1px solid grey;
  cursor: pointer;
}  

.filter_bottom {
  margin-top: 0rem;
  margin-left: 0rem;

}


.above_iframe {
  margin-left: 66.5rem;
  margin-bottom: -1.5px;
}

.above_iframe img {
  width: 20rem;
  height: 2.5rem;
}

.image-container-fressbe {
  margin-top: -95rem;
  height: 10px;
}

.image-container-fressbe img {
  width: 65rem;
  height: 60px;
  margin-left: 70px;
}

.image-container-fressbe:hover {
  cursor: pointer;
}

.image-container-left {
  margin-top: 160px;
}

.image-container-left img {
  margin-left: -955px;
  width: 135px;
  height: 700px;
}

.image-container-right {
  margin-top: -695px;
}

.image-container-right img {
  width: 135px;
  height: 700px;
  margin-left: -26px;
}

.image-container-sidefull1 {
  margin-top: -42rem;
}

.image-container-sidefull1 img {
  width: 18rem;
  height: 35rem;
}

.image-container-sidefull2 {
  margin-top: 0rem;
  padding: 0;
}

.image-container-sidefull2 img {
  width: 18rem;
  height: 35rem;
}

.image-container-bottom img {
  width: 1188px;
  height: 560px;
}

.image-container-bottom {
  margin-top: 35px;
  background-color: #F9F9F9;
}

.filter_cardetails {
  margin-bottom: 30px;
}

.filter_bottom span {
  margin: 0 10px;
  cursor: pointer;
}

.filter_bottom_pagenumbers {
  width: 30rem;
  margin-left: -42rem;
  margin-top: 4rem;
}

.filter_bottom {
  margin-top: -10px;
}

.filter_bottom span.active {
  background-color: #FDF0E4;
  color: orange;
  padding: 5px;
  font-size: 17px;
  font-weight: 600;
}

.filter_bottom button.next:disabled,
.filter_bottom button.next:active,
.filter_bottom button.previous:disabled,
.filter_bottom button.previous:active {
  color: #FD9440;
  background-color: #FDF0E4;
}

.next {
  padding: 10px 21px;
  border-radius: 30px;
  border: none;
}

.previous {
  padding: 7px 12px;
  border-radius: 30px;
  border: none;
}

.next:hover,
.previous:hover {
  cursor: pointer;
}

@media (max-width: 414px) {

  .image-container-bottom,
  .image-container-sidefull2,
  .image-container-sidefull1,
  .image-container-right,
  .image-container-left,
  .image-container-fressbe,
  .above_iframe,
  .iframe__top {
    display: none;
  }

  .filter-top {
    width: 24rem;
    margin-left: -69.5rem;
  }



  .filter-item label {
    font-size: 13px;
    margin-left: -4px;
  }

  .filter-container {
    display: none;
  } 

}
