* {
  box-sizing: border-box;
  margin:0; 
  padding:0;
  /* overflow: hidden; */
  /* font-family: 'PT Sans', sans-serif; */
} 
.footer_wrapper{
   margin-top: 42rem;
}
body {
  margin: 0; 
}

h3 {
  color: #FFFFFF;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 1.1875rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #363636;
  height: 855px;
  width: 100%;
}

.footer--para {
  font-size: .875rem;
  margin: 45px auto;
  color: #999;
  text-align: center !important;
  font-family: Rubik, sans-serif;
  font-size: 16.3px;
}

.footer--para p {
  /* color: rgb(177, 170, 170); */
  padding-top: 30px;
  margin-left: 13%;
  margin-right: 13%;
}
.footer--container{
  margin-top: -180px;
  display: flex;
  margin-left: 170px;
}
.footer--container {
  /* column-gap: 230px; */
}

.footer-menu {
  flex: 1;
  margin-right: 55px;
}

.footer-menu h3 {
  margin-bottom: 10px;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
}

.footer-menu ul li {
  margin-bottom: 0.90em;
  font-size: 18px;
}

.footer-menu ul li a {
  color: #CCCCCC;
  text-decoration: none;
  font: 14px;
  font-family: Rubik, sans-serif;

}

.footer-menu ul li a:hover {
 text-decoration: underline;
}

.footer--icons {
  margin-top: 2em;
  margin-left: 44%;
  margin-right: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3px;
}
.footer--logo {
  height: 45px;
  width: 45px;
  fill: black;
}
.footer--logo:hover {
  /* filter: drop-shadow(3px 3px rgb(48, 59, 53)) sepia(1000%) drop-shadow(-3px -3px blue); */
/* filter: opacity(60%); */
  /* fill: #fff */
  filter:  invert(40)
}

.footer--p {
  margin-top: 2em;
  color: rgb(158, 148, 148);
  margin-left: 25%;
  text-align: center;
  width: 45em;
  font-family: Rubik, sans-serif;
  font-size: 16px; 
}

hr {
  margin-top: 1.5em;
  width: 550px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid grey;
  margin-left: 10%;
}

.col--last a {
  text-decoration: none;
  color: whitesmoke;
  /* margin-right: 10%; */
}

.col--last {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  column-gap: 45px;
  width: 1200px; 
  margin-right: 5rem;
  margin-left: -14%;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: white;
}
.col--last a:hover {
  text-decoration: underline;
  color: rgb(122, 117, 117);
}
.version {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  /* padding-left: 45px; */
  margin-bottom: 1em;
}
.version h3 {
  font-family: Rubik, sans-serif;
  font-size: 19px;
  margin-left: 45px;
}
.version:hover {
  text-decoration: underline;
  cursor: pointer;
}  

/* =====responsive iPhone11 ========  */ 
   /* CSS for devices with a maximum width of 414px (iPhone 11 portrait) */
@media (max-width: 414px) {
  .footer_wrapper{
    width: 103vw;
    height: 600px;
    margin-top: 1rem;
  }
  .footer-menu {
    margin-right: -50px;
    margin-left: -100px;
  }
  .footer-menu h3 {
    margin-top: 14rem;
    font-size: 10px;
    font-weight:600;
  }
  .footer-menu li{
    /* display: none; */
  }
  .footer-menu ul li{
    /* display: none;  */
    font-size: 11px; 
    overflow: 'hidden';
  }
  .footer-menu ul li a:hover {
    text-decoration: underline;
   }
   .footer--icons { 
    /* width: 30%; */
    /* margin-top: -520px; */
    margin-left: 27%;
    width: 60%;
    margin-bottom:690px;
  }
  
  .footer--icons img{
    height: 40px;
    width: 40px;
  }
  .footer--para {display: none;}
  .footer--p {
    margin-top: -80em;
    color: rgb(158, 148, 148);
    margin-left: 3.5%;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 8px; 
  }

  .col--last {
      display: inline; 
      /* display: flex; */
      /* flex-wrap: nowrap; */
      /* justify-content: center; */
      /* gap: 10px; */
      max-height: 48px; /* Adjust the height as needed */
      /* overflow: hidden; */
      font-size: 13px;
    } 

    .version {
      margin-top: 1em;
      display: flex;
      justify-content: center;
      color: whitesmoke;
      /* padding-left: 45px; */
      margin-bottom: 1em;
    }
    .version h3 {
      font-family: Rubik, sans-serif;
      font-size: 14px;
      margin-left: 0px;
    }
    .version:hover {
      text-decoration: underline;
      cursor: pointer;
    } 
    hr {
      /* margin-top: 1.5em; */
      width: 320px;
      /* display: block; */
      /* height: 1px; */
      /* border: 0; */
      border-top: 1.3px solid grey;
      margin-left: 7%;
    }
    
}


 