* {
    box-sizing: border-box;
    margin:0; 
    padding:0;
    /* overflow: hidden; */
    /* font-family: 'PT Sans', sans-serif; */
    /* max-width: 100%; */ 
    /* overflow-x: auto; */
}

body {
    margin: 0;
    background-color:  #F9F9F9;
}
 
.iframe__top{
    margin-left: 160px;
    height: 190px;
    width: 1170px;
}
 
 
.home__flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
} 

.home {
  margin-top: 8px;
}
 
  
   
 
 
   
   .image-container-left {
     margin-top: 160px;
     margin-left: -230px;
   }
   .image-container-left img {
     width: 135px;
     height: 700px;
   }
   
   .image-container-right {
     margin-top: -695px;
     margin-left: 1230px;
   }
   .image-container-right img {
     width: 135px;
     height: 700px;
   }
   
   .image-container-sidefull1 {
     margin-top: -42rem;
   }
   .image-container-sidefull1 img {
     width: 18rem;
     height: 35rem;
   }  
   
   .image-container-sidefull2 {
     margin-top: 0rem;
   }
   .image-container-sidefull2 img {
     width: 18rem;
     height: 40rem;
   }
   
   .image-container-bottom img {
     width: 1188px;
     height: 560px;
   } 
   .image-container-bottom {
     margin-top: 35px; 
     background-color: #F9F9F9;
   }
   
   

 